<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet type="text/xsl" href="configuration.xsl"?>
<!--
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License. See accompanying LICENSE file.
-->

<!-- Put site-specific property overrides in this file. -->

<configuration>
    <!--Start Common Properties-->
    <property>
	    <name>dfs.nameservices</name>
	    <value>{{cluster_name}}</value>
    </property>
    <property>
        <name>dfs.namenode.name.dir</name>
        <value>{{hdfs_namenode_dir}}</value>
    </property>
    <property>
        <name>dfs.datanode.name.dir</name>
        <value>{{hdfs_datanode_data_dir}}</value>
    </property>
    <property>
        <name>dfs.cluster.administrators</name>
        <value>hdfs hadoop-admins</value>
    </property>
    <!--The super user who can perform all HDFS operations.-->
    <property> 
        <name>dfs.permissions.superusergroup</name> 
        <value>hdfs</value>
    </property>
    <!--The number of replicas for HDFS this should  equal the number of DataNodes you have-->
    <property>
        <name>dfs.replication</name>
        <value>3</value>
    </property>
    <!--HDFS blocksize of 256MB for large file-systems.-->
    <property>
        <name>dfs.blocksize</name>
        <value>256m</value>
    <!--HDFS blocksize of 16MB for small file-systems.-->
    </property>
        <property>
         <name> dfs.namenode.fs-limits.min-block-size </name>
         <value>16m</value>
    </property>
    <!--More NameNode server threads to handle RPCs from large number of DataNodes.-->
    <property>
        <name>dfs.namenode.handler.count</name>
        <value>100</value>
    </property>
    <!--List of allowable datanodes-->
    <property>
        <name>dfs.hosts</name>
        <!-- Does it got to 11-->
        <value>
            {{location}}-{{sys_env}}-hdfsdn01.{{domain_name}},
            {{location}}-{{sys_env}}-hdfsdn02.{{domain_name}},
            {{location}}-{{sys_env}}-hdfsdn03.{{domain_name}},
            {{location}}-{{sys_env}}-hdfsdn04.{{domain_name}},
            {{location}}-{{sys_env}}-hdfsdn05.{{domain_name}},
            {{location}}-{{sys_env}}-hdfsdn06.{{domain_name}},
            {{location}}-{{sys_env}}-hdfsdn07.{{domain_name}},
            {{location}}-{{sys_env}}-hdfsdn08.{{domain_name}},
            {{location}}-{{sys_env}}-hdfsdn09.{{domain_name}},
            {{location}}-{{sys_env}}-hdfsdn10.{{domain_name}},
            {{location}}-{{sys_env}}-hdfsdn11.{{domain_name}}
        </value>
    </property>
    <property>
        <name>dfs.hosts.exclude</name>
        <value>{{location}}-{{sys_env}}-hdfsdn12.{{domain_name}}</value>
    </property>
    <!--END Common Properties-->
</configuration>





