[Unit]
Description=Zookeeper Service
 
[Service]
Type=forking
WorkingDirectory={{zookeeper_data_dir}}
EnvironmentFile={{zookeeper_conf_dir}}/zoo.env
Environment=CONF="--config {{zookeeper_conf_dir}}/zoo.cfg"
PIDFile={{zookeeper_pid_dir}}/zookeeper_server.pid
SyslogIdentifier=zookeeper
User=zookeeper
Group=zookeeper
ExecStart={{zookeeper_home}}/bin/zkServer.sh  ${CONF} start
ExecStop={{zookeeper_home}}/bin/zkServer.sh  ${CONF} stop
ExecReload={{zookeeper_home}}bin/zkServer.sh  ${CONF} restart
Restart=always
TimeoutSec=20
SuccessExitStatus=130 143
Restart=on-failure
 
[Install]
Alias=zook
WantedBy=multi-user.target