# {{pinot_version}} Configuration
export HADOOP_HOME=/usr/lib/hadoop
export HADOOP_VERSION={{hadoop_version}}
export HADOOP_GUAVA_VERSION={{hadoop_guava_version}}
export HADOOP_GSON_VERSION={{hadoop_gson_version}}
export GC_LOG_LOCATION=/var/log/java/
export PINOT_VERSION={{ pinot_version }}
export PINOT_DISTRIBUTION_DIR=/usr/lib/pinot
export SERVER_CONF_DIR={{pinot_conf_dir}}
export ZOOKEEPER_ADDRESS="ptzkr01:2181,ptzkr02:2181,ptzkr03:2181"
export CLUSTER_NAME={{ cluster_name }}
export CLASSPATH_PREFIX="/usr/lib/hadoop-hdfs/hadoop-hdfs-${HADOOP_VERSION}.jar:/usr/lib/hadoop/hadoop-annotations-${HADOOP_VERSION}.jar:/usr/lib/hadoop/hadoop-auth-${HADOOP_VERSION}.jar:/usr/lib/hadoop/hadoop-common-${HADOOP_VERSION}.jar:/usr/lib/hadoop/lib/guava-${HADOOP_GUAVA_VERSION}.jar:/usr/lib/hadoop/lib/gson-${HADOOP_GSON_VERSION}.jar"
export JAVA_OPTS="-Xms4G -Xmx4G -XX:+UseG1GC -XX:MaxGCPauseMillis=200 -Xloggc:${GC_LOG_LOCATION}/gc-pinot-broker.log -Dlog4j2.configurationFile=£{SERVER_CONF_DI}/pinot-server-log4j2.xml"