[Unit]
Description=ZooKeeper Service
Documentation=http://zookeeper.apache.org
Requires=network.target
After=network.target

[Service]
Type=forking
SyslogIdentifier=zookeeper
User=zookeeper
Group=zookeeper
Environment=CONF="/usr/lib/zookeeper/conf/zoo.cfg"
ExecStart=/usr/lib/zookeeper/bin/zkServer.sh start $CONF
ExecStop=/usr/lib/zookeeper/bin/zkServer.sh stop $CONF
ExecReload=/usr/lib//zookeeper/bin/zkServer.sh restart $CONF
WorkingDirectory=/usr/lib/zookeeper

[Install]
Alias=zkpr.service
WantedBy=default.target