[Unit]
Description=Zookeeper Daemon
Documentation=http://zookeeper.apache.org
Requires=network.target
After=network.target

[Service]
Type=simple
WorkingDirectory={{zookeeper_data_dir}}
Environment=CONF="{{zookeeper_conf_dir}}/zoo.cfg"
SyslogIdentifier=zookeeper
User=zookeeper
Group=zookeeper
ExecStart={{zookeeper_home}}/bin/zkServer.sh  start  ${CONF}
ExecStop={{zookeeper_home}}/bin/zkServer.sh   stop  ${CONF}
ExecReload={{zookeeper_home}}bin/zkServer.sh  restart  ${CONF}
Restart=always
TimeoutSec=20
SuccessExitStatus=130 143
Restart=on-failure

[Install]
WantedBy=multi-user.target